<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, temporibus vel? Beatae deserunt exercitationem expedita hic, illo incidunt inventore ipsam, iste natus nisi perferendis quidem reprehenderit, voluptas? Animi, eveniet, ratione?40</p>
    </div>
</div>