<div class=".jumbotron-mt-4">
    <h1 class="display-4"> Notes app Node js and MongoDB</h1>
    <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita libero non provident qui ratione! Architecto autem delectus minima. Asperiores harum nihil quae quisquam voluptates? Animi cumque esse maxime quae quos.</p>
    <a href="http://google.com" class="btn btn-primary btn-lg">Google.com</a>
</div>
